@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
  --box--shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--black);
  padding: 1rem;
}

.heading span {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--orange);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--black);
  cursor: pointer;
  background: #fff;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 2.5rem;
  color: var(--black);
}

header .navbar a {
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons a {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--orange);
}

#menu-bar {
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid var(--black);
  color: var(--black);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  position: relative;
}

.home .slide-container .slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
  padding-top: 9rem;
}

.home .slide-container .slide .content {
  flex: 1 1 40rem;
  animation: slideContent 0.5s linear 1s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
}

.home .slide-container .slide .image {
  flex: 1 1 40rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}
.home .slide-container .slide .image .shoe {
  width: 100%;
  transform: rotate(-35deg);
  animation: shoe 0.3s linear;
}

@keyframes shoe {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
}

.home .slide-container .slide .image .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: shoeText 0.5s linear 0.5s backwards;
}

@keyframes shoeText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

.home .slide-container .slide .content span {
  font-size: 2rem;
  color: var(--black);
}

.home .slide-container .slide .content h3 {
  font-size: 5rem;
  color: var(--orange);
}

.home .slide-container .slide .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 5rem 0;
}

.home .slide-container:nth-child(1) .slide {
  background: url(../images/home-bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide-container:nth-child(2) .slide {
  background: url(../images/home-bg-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide-container:nth-child(3) .slide {
  background: url(../images/home-bg-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.products .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  flex: 1 1 30rem;
}

.products .box-container .box .content {
  padding: 1.5rem;
}

.products .box-container .box img {
  height: 10rem;
  transform: rotate(-35deg);
  filter: drop-shadow(0 0.5rem 1rem);
  margin: 8rem 2rem;
}

.products .box-container .box:hover img {
  transform: rotate(-35deg) scale(1.2);
}

.products .box-container .box .icons {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.products .box-container .box .icons a {
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
}

.products .box-container .box .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.products .box-container .box .content .price {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
}
.products .box-container .box .content .price span {
  color: var(--orange);
  font-size: 1.7rem;
  padding: 1rem 0;
  text-decoration: line-through;
}

.products .box-container .box .content .stars {
  padding-bottom: 1rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
}

.featured .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  align-items: center;
  margin: 1.5rem 0;
}

.featured .row .content {
  flex: 1 1 40rem;
}

.featured .row .image-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex: 1 1 50rem;
}

.featured .row .image-container .small-image {
  width: 20%;
}

.featured .row .image-container .big-images {
  width: 80%;
  padding: 1rem;
}

.featured .row .image-container .small-image img {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
}

.featured .row .image-container .small-image img:hover {
  background: #ccc;
}

.featured .row .image-container .big-images img {
  width: 100%;
}

.featured .row .image-container .big-images img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.featured .row .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.featured .row .content .stars i {
  font-size: 1.3rem;
  color: var(--orange);
  padding: 0.5rem 0;
}

.featured .row .content p {
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.featured .row .content .price {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
}

.featured .row .content .price span {
  color: var(--orange);
  font-size: 1.7rem;
  text-decoration: line-through;
}

.login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 30rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box--shadow);
  background: #fff;
  text-align: center;
}

.login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.login-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.login-form .box {
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}
.login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--black);
}

.login-form p a {
  color: var(--orange);
  text-decoration: underline;
}
/* media quaery  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  header .navbar.active {
    left: 0;
  }

  header .navbar a {
    font-size: 2rem;
    background: #fff;
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
    display: block;
    text-align: center;
  }

  .home .slide-container .slide .image .text {
    width: 60%;
  }

  .home #prev,
  .home #next {
    top: 85%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .home .slide-container .slide .image {
    padding-bottom: 6rem;
  }

  .heading {
    font-size: 3rem;
  }
}

.home .slide-container {
  display: none;
}

.home .slide-container.active {
  display: block;
}

.home #prev,
.home #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

.home #prev:hover,
.home #next:hover {
  color: #fff;
  background: var(--orange);
}

.home #prev {
  left: 3rem;
}

.home #next {
  right: 3rem;
}

.service .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.service .box-container .box {
  text-align: center;
  flex: 1 1 30rem;
}

.service .box-container .box i {
  font-size: 4rem;
  color: var(--orange);
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}
